<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Laboratorio</title>
            <script src="https://cdn.tailwindcss.com"></script>
        </head>
        <body>
            <header>
                <nav class="bg-red-600 p-4">
                    <div class="container mx-auto flex justify-between items-center">
                        
                            <img class="justify-items-start w-20 h-20" src="logo.png"> 
                            <h1 class="font-mono text-center text-2xl text-stone-50">LOVE BIKES</h1>
                            <ul class="flex space-x-4">
                                <li><a href="#" class="text-white">Noticias</a></li>
                                <li><a href="#" class="text-white">Tienda</a></li>
                                <li><a href="#" class="text-white">Taller</a></li>
                                <li><a href="#" class="text-white">¿Quienes somos?</a></li>
                            </ul>
                    </div>
                    <div>
                        <div class="container mx-auto flex justify-between items-center text-white">
                            <% (if isLoggedIn == false) { %>
                            <a class="button" href="/users/add">
                                <p> Refistrarse </p>
                            </a>
                            <a class="button" href="/users/login">
                                <p>Iniciar sesion</p>
                            </a>
                            <% } else { %>
                            <a class="button" href="/users/logout">
                                Salir
                            </a>
                            <% } %>
                        </div>
                    </div>
                </nav>
            </header>